body{
background: #1B1B1B;
font-family: helvetica, arial, sans-serif;

}

p {

}

#container {
width: 340px;
margin: auto;

}

h4, p, h3, h2, h1, ol, ul {
padding: 0 7px;
}

form p {
padding: 0;
}

ul, li {
	font-size: 11px;
}


.input {
	width: 300px;
}

label {
	display: block;
}

#tabs {
overflow: hidden;
margin: 0; padding: 0;
}

#tabs li {
display: inline;
float: left;
background: #4C3327;
margin-right: 5px;
padding: 3px 5px;
border: 1px solid #E4E4E4;

}

#tabs li:hover {
background: #4C3327;
}

#container #tabs li.selected {
background: #4C3327 ;
border: 1px solid white;
border-bottom: none;
position: relative;
top: 1px;

}

#tabs li.selected a {
color: #CB8C1D;
}

#tabs li a {
color: #CB8C1D;
text-decoration: none;
outline: none;
font-size: 11px;
line-height: 11px;
padding: 7px 10px;
display: block;

}

#main {
background: #CB8C1D;
border: 1px solid white;
position: relative;
padding: 0 15px;
}

#main h4 {
margin: 0;
font-size: 14px;
background-color: #4C3327;
padding-top: .3em;
padding-bottom: .3em;
color: #CB8C1D;
}



#container h1 {
margin-top: 15;



width: 341px;
height: 150px;
}
h1{
text-indent: 50px;
color:#E4E4E4;
font-family: "Times New Roman", Times, serif;
font-style: italic;
}

div.item {
background: #CB8C1D;
border: 1px solid white;
margin: 1em 0;
position: relative;
}


div.item a {
background: #CB8C1D;
border: 1px solid white;
color: #4C3327;
text-decoration: none;
font-size: 10px;
padding: 1px;
float: left;

}

div.item a:hover {
background: #CB8C1D;
}


#container #main div.options {
position: absolute;
top: 0; right: 0;
overflow: hidden;
}

#add h3 {
padding-top: 15px;
color:#4C3327;
}